@font-face {
  font-family: 'inpin hongmengti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/subset-inpin-hongmengti.woff2") format("woff2"),
    url("../assets/fonts/subset-inpin-hongmengti.woff") format("woff");
}

:root {
  --accent-color: #b5ff00
}

body {
  width: 100vw;
  padding: 1rem;
  font-family: "inpin hongmengti", Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: rgb(18, 18, 18);
  color: rgb(235, 235, 235);
  box-sizing: border-box;
}

input[type="checkbox"] {
  accent-color: var(--accent-color);
}

.page-title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 1em;
}

.progress {
  margin: 1em auto;
  width: 500px;
  display: none;
}

.progressbar {
  position: relative;
  width: 492px;
  border: 1px solid var(--accent-color);
  padding: 3px;
  margin: .5rem 0px auto auto;
  border-radius: 1rem;
}

.progresstext {
  position: absolute;
  width: 492px;
  margin: 3px 0px;
  text-align: center;
  font-size: 0.7em;
  color: black;
}

.progressfill {
  height: 20px;
  background-color: var(--accent-color);
  width: 0%;
  border-radius: 1rem;
}

.sorter {
  margin: 0px auto;
  display: grid;
  grid-template-columns: 120px 1fr 120px;
  column-gap: 1rem;
  row-gap: .5rem;
  width: 420px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  color: white;
  font-family: "inpin hongmengti",
    Arial,
    Helvetica,
    sans-serif;
  border: 2px solid rgb(100, 100, 100);
  text-align: center;
  padding: 10%;
  grid-column: 2 / 3;
  cursor: pointer;
  border-radius: 1rem;
}

.button:hover {
  border: 2px solid var(--accent-color);
  background: var(--accent-color);
  color: black;
}

.starting.start.button {
  grid-row: span 6;
}

.starting.load.button {
  grid-row: span 3;
  display: none;
}

.sorting.button,
.finished.button {
  grid-row: span 2;
  display: none;
}

.loading.button {
  grid-row: span 6;
  display: none;
}

.loading.button>div {
  width: 25px;
  height: 25px;
  margin: 50px auto;
  background-color: rgb(0, 0, 0);

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

/* Animation taken from: http://tobiasahlin.com/spinkit/ */

.loading.button>span {
  margin: auto auto 20%;
  font-size: 0.7em;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0)
  }

  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

.sorter>.image {
  width: 120px;
  height: 120px;
  margin: auto;
  grid-row: 1 / 7;
  cursor: pointer;
}

.sorter>.text {
  width: 120px;
  height: 60px;
  display: none;
}

.sorter>.text>p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100%-10px);
  text-align: center;
  font-size: 0.8em;
  line-height: 1.5em;
  height: inherit;
}

.sorter>.left {
  grid-column: 1 / 2;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 6%;
}

.sorter>.left:hover {
  outline: 2px solid var(--accent-color);
}

.sorter>.right {
  grid-column: 3 / 4;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 6%;
}

.sorter>.right:hover {
  outline: 2px solid var(--accent-color);
}

.options {
  margin: 1em auto;
  display: grid;
  text-align: left;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 450px;
}

.options>div {
  font-size: 0.9em;
}

label {
  cursor: pointer;
}

.options>.large.option,
.options>hr {
  grid-column: span 3;
  text-align: center;
  width: 100%;
}

.image.selector {
  margin-top: 0.5em;
  width: 500px;
  display: none;
  text-align: center;
  font-size: 0.75em;
}

.time.taken {
  margin-top: 0.5em;
  width: 500px;
  display: none;
  text-align: center;
  font-size: 0.75em;
}

.results {
  background-color: rgb(18, 18, 18);
  font-size: 0.75em;
  display: flex;
  align-content: flex-start;
  width: 80%;
  margin: 2em auto;
}

@media all and (min-width: 600px) {
  .results {
    flex-flow: column wrap;
    max-height: calc(5 * (175px + 2px) + 1 * (15px + 2px));
    /* 2px for borders */
  }
}

@media all and (max-width: 600px) {
  .results {
    flex-flow: column nowrap;
  }
}

.result {
  height: 15px;
  margin-bottom: -1px;
  display: grid;
  width: 211px;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid rgb(100, 100, 100);
  margin-right: 5px;
}

.result.image {
  height: 175px;
}

.result.image img {
  height: 160px;
}

.result.spacer {
  height: 1px;
  background-color: rgb(100, 100, 100);
}

.result.head {
  background-color: rgb(100, 100, 100);
  color: rgb(255, 255, 255);
}

.result>.left {
  width: 35px;
  padding: 1px 3px 1px 0.5em;
  grid-column: 1 / 2;
  text-align: right;
}

.result.image .left {
  position: relative;
}

.result.image>.left span {
  position: absolute;
  top: 50%;
  right: 3px;
  margin-top: -0.375em;
}

.result>.right {
  width: 160px;
  padding: 1px 0em 1px 0em;
  grid-column: 2 / 3;
  border-left: 1px solid rgb(100, 100, 100);
  text-align: center;
}

.getimg:hover a {
  color: black;
}

.info {
  margin: 2em auto 3em;
  display: block;
  text-align: center;
  font-size: 0.9em;
  width: 80%;
  line-height: 1.2em;
}

a {
  color: var(--accent-color);
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--accent-color);
}

a:visited {
  color: var(--accent-color);
}

.wip {
  font-size: 1.5em;
  font-weight: bold;
}

.gede {
  font-size: 1.1em;
  font-weight: bold;
}

@media (max-width: 640px) {
  .sorter {
    width: 100%;
  }

  .options {
    width: 100%;
  }

  .progress {
    width: 100%;
  }

  .progressbar {
    width: inherit;
  }
}